body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    color: orange;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.halp-width {
    width: 50%;
    padding-left: 5%;
}

.halp-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, purple, pink);
    padding: 7px 30px;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#box-shado-one {
    box-shadow: 10px 10px 10px 10px darkgray;
    padding: 30px;
    margin: 40px;
    border-left: 5px solid red;
    border-radius: 10px;
}

#box-shado-tow {
    box-shadow: 10px 10px 10px 10px darkgray;
    padding: 30px;
    margin: 40px;
    border-left: 5px solid blue;
    border-radius: 10px;
}

.flexible-container {
    padding: 40px;
}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
    background: #000;
    color: #fff;
}