body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.halp-width {
    width: 50%;
    padding-left: 5%;
}

.halp-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, purple, pink);
    padding: 7px 30px;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}